<%= c("header") %>

<div class="container grid-xl">
  <div class="columns">
    <div class="col-12">

      <div class="page-content">
        <%= yield %>
      </div>

      <%#= c("footer") %>
    </div>
  </div>
</div>
