<header class="header">
  <div class="container grid-xl">
    <div class="columns">
      <div class="col-12">

        <header class="navbar">
          <section class="navbar-section">
            <a href="#" class="btn btn-link">Docs</a>
            <a href="#" class="btn btn-link">Examples</a>
          </section>
          <section class="navbar-center">
            <strong>Template</strong>
          </section>
          <section class="navbar-section">
            <a href="#" class="btn btn-link">Twitter</a>
            <a href="#" class="btn btn-link">GitHub</a>
          </section>
        </header>

      </div>
    </div>
  </div>
</header>
